- question = @test.questions.build
%h1= question_header(question)
= render 'form', test: @test, 
                 question: question, 
                 url: test_questions_path(@test)
%br
= link_to 'Back', test_questions_path(@test)
