%h1= question_header(@question)
= render 'form', test: @question.test, 
                 question: @question, 
                 url: admin_question_path(@question)
%br
= link_to 'Back', admin_test_path(@question.test)
