.footer.wrapper
  = "#{current_year}, Author name: Andrey Postupalenko,"
  = link_to_github('anrewp', 'TestGuru')
  = link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank'
